div{
    background-color: rgba(24, 29, 39, 0.89);
}

.header{
   position: fixed;
   height: 125px;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   color: #000;
   background-color: rgba(24, 29, 39, 0.89);
   z-index: 999;
}

.nav_left{
    width: 640px;
}

 .logo{
    width: 115px;
    height: 132px;
    margin-left: 415px;
}

.nav_link{
    width: 640px;
    color: #FFF;
}

.nav_link ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;   
    align-items: center;
    height: 100%;
    margin: 0;
}

ul li{
    font-size: 20px;
    
}

li:hover{
    transform: translateY(-8px);
    transition: transform 0.5s ease; /* Adiciona uma transição suave */
}

.btn_contato{
    width: 158px;
    height: 52px;
    background-color: #398483;
    color: #FFF;
    border: none;
    font-family: 'poppins';
    font-size: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.btn_contato img{
    padding-left: 7px;
}

#inicio{
    color: #398483;
}

.nav_right{
    width: 640px;
    display: flex;
    flex-direction: row;
}

.redes_sociais:hover{
    transform: translateY(-8px);
    transition: transform 0.5s ease; /* Adiciona uma transição suave */
}

.redes_sociais{
    width: 32px;
    height: 32px;
    margin-left: 16px;
    margin-top: 50px;
}

/* Header.module.css */

.link {
    /* Adicione estilos comuns para os links aqui */
    color: #DC8898;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .link:hover {
    color: #a1616c;
  }
  
  
